$cold-1: #222831
$cold-2: #393E46
$cold-3: #00ADB5
$cold-4: #EEEEEE
$cold-5: #1d3557

html
  background-color: $cold-1
  color: $cold-4

.header-tile
  background-color: $cold-2
  color: $cold-3

.content-tile
  background-color: $cold-2
  color: $cold-4
